*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    width: 100%;
}


.logo{
    color: black;
    font-size: 35px;
    letter-spacing: 1px;

}

span{
    color: red;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 4%;
    padding-right: 4%;
    background-color: rgb(145, 181, 227);
    height: 82px;
}


nav ul li{
    font-size: 15px;
    list-style: none;
    display: inline-block;
    padding: 8px  25px;
    flex-wrap: wrap;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: white;
    transition:after .4s;
}

img{
    border-style:solid;
    padding: 2px;
    width: 400px;
    height: 500px;
}

.intro{
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    padding-top: 70px;
    padding-right: 80px;
    text-align: center;
}

.hello{
    padding-top: 100px;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 30px;
}

.about{
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    
}

.work{
    padding-top: 200px;
    text-align: center;
}