*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    width: 100%;
}


.logo{
    color: black;
    font-size: 35px;
    letter-spacing: 1px;

}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: rgb(145, 181, 227);
    height: fit-content;
}


nav ul li{
    font-size: 15px;
    list-style: none;
    display: inline-block;
    padding: 8px  25px;
    flex-wrap: wrap;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
/* this makes the links turn white while hovered over*/
nav ul li a:hover, h3:hover, footer ul li a:hover{
    color: white;
    transition:after .4s;
}

.img{
    border-style:solid;
    padding: 2px;
    width: 400px;
    height: 500px;
    border-color: black;
}

.preview{
    border-style:solid;
    padding: 2px;
    width: 450px;
    height: 550px;
    border-color: black;
}


.intro{
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    padding-top: 70px;
    padding-right: 80px;
    text-align: center;
}

.hello{
    padding-top: 100px;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

h4{
    padding-top: 10px;
    font-size: 20px;
}


.about{
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 25%;
    padding-right: 25%;
    
}

.work{
    padding-top: 200px;
    text-align: center;
}

.holder{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.preview-place{
    border-style:solid;
    padding: 2px;
    width: 350px;
    height: 450px;
    border-color: black;
}

footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(61, 130, 220);
    height:fit-content;
}

footer ul li{
    font-size: 15px;
    list-style: none;
    display: inline-block;
    padding: 10px  40px;
    flex-wrap: wrap;
   
}

footer ul li a{
    flex-wrap: wrap;
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}